<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table></table>
    <tr>
        <td>Name</td>
        <td><input name="name" required></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input name="email" required></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input name="password" required></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit">Register</button></td>
    </tr>
    </table>
</form>
</body>
</html>